 {% if not text.shareable_text %}
<form method="GET" class="secret-key-form">
    <label>Enter the secret key</label>
    <div>
        <input type="text" name="secret" />
        <button type="submit" class="is-primary nes-btn">Submit</button>
    </div>
</form>
{% endif %}

<div style="margin: 1rem">
    <span id="error-secret" style="color: red">{{ error }}</span> {{ text.shareable_text }}

</div>

<script>
    if (!window.location.search.includes('secret')) document.querySelector('#error-secret').classList.add('d-none')
</script>